<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RNCO</title>
</head>

<body>
  <h1>BINFO2 M7 Repte Networks and Computer Security</h1>
  <h4>Data:</h4>
  <ul>
    <% items.forEach(function(item) { %>
      <li>
       webpage: <%= item.webpage %>
      </li>
      <li>
       user:  <%= item.name %>
      </li>
      <li>
	password: <%= item.password %>
      </li>
      <li>
	date: <%= item.date %>
      </li>
	<br>
      <% }); %>
  </ul>
</body>

</html>
